.container{
   /* border: 5px solid rgba(0, 0, 255, 0.562); */
   width: 100%;
   min-height: 100px;
   background-color: #D3D3D3;

   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   
   flex-wrap: wrap;
   padding: 3rem 1rem;
}

.titleContainer{
   width: 100%;
   margin-bottom: 2rem;
}

.inputContainer{
   width: 50%;
   /* border: 1px solid white; */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 10px 0;
}

.subContainer{
   border: 1px solid white;
   width: 90%;
   display: flex;
   flex-direction: column;
}

@media (max-width:800px) {
   .container{
      /* background-color: red; */
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
   }

   .inputContainer > input{
      width: 300px;
   }
   
}