.table {
	width: 100%;
	height: 300px;
	border-collapse: collapse;
	vertical-align: top;
	color: rgb(245, 228, 228);
}
.table th,
td {
	width: 25%;
	text-align: left;
	padding: 0.2em;
	caption-side: bottom;
}
.table th {
	background: rgb(36, 41, 51);
	width: 25%;
}
.table tr:nth-child(even) {
	background: rgb(46, 57, 68);
}
.table tr:nth-child(odd) {
	background: rgb(86, 88, 98);
}
thead {
	background-color: rgb(53, 52, 52);
	border-bottom: solid 3px #282727;
	color: rgb(179, 172, 172);
	position: sticky;
	top: 1;
	z-index: 10;
}
.table tr:hover td {
	background-color: #3c108884;
	color: rgb(216, 211, 211);
}
